*{
    padding: 0; margin: 0;
}
html, body {
    overflow-x: hidden;
 background:white;
font-family: 'Ibarra Real Nova', serif;
    color: black;
    line-height: 1.5;
    font-size: 1.1rem;
}
.menu{
    display: column;
    list-style: none;
    flex-wrap: wrap;
}
.menu li{
    margin-left: 94px;
}
.menu li a{
    color:#252B42; text-decoration: none;
}
.menu li a:hover{
    color: #FA4A0C;
}